In [1]:
#Cell 1: Load your trained model from disk
import joblib
model = joblib.load("D:\DownLoad\projects\Multi_claasification_model\\final_approach\saved_models\RandomForest.joblib")

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Omar\AppData\Local\Temp\ipykernel_24612\2424447416.py:3: SyntaxWarning: invalid escape sequence '\D'
  model = joblib.load("D:\DownLoad\projects\Multi_claasification_model\\final_approach\saved_models\RandomForest.joblib")

In [7]:
#Cell 2: load test set
import pandas as pd
test = pd.read_csv("D:\DownLoad\projects\Multi_claasification_model\data\\test.csv")
ids = test["Id"]

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Omar\AppData\Local\Temp\ipykernel_24612\804696029.py:3: SyntaxWarning: invalid escape sequence '\D'
  test = pd.read_csv("D:\DownLoad\projects\Multi_claasification_model\data\\test.csv")

In [8]:
df=pd.DataFrame(test)
df.head()

,Id,flow_time,header_size,packet_duration,overall_rate,src_rate,dst_rate,fin_packets,urg_packets,rst_packets,...,fin_flags,syn_flags,rst_flags,psh_flags,ack_flags,protocol_http,protocol_https,protocol_tcp,protocol_udp,protocol_icmp
0,0,0.000000,54.0,64.0,249.534700,249.534700,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1,1,4.466080,108.0,64.0,0.447820,0.447820,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0
2,2,0.000000,54.0,64.0,1.295361,1.295361,0.0,0.0,1.0,1.0,...,0,0,0,1,1,0,0,1,0,0
3,3,0.000000,0.0,64.0,2.249081,2.249081,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,4,4.413071,108.0,64.0,0.453199,0.453199,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
selected_data_set=['src_rate', 'overall_rate', 'header_size', 'max_value', 'flow_time', 'rst_packets', 'protocol_tcp', 'value_covariance', 'packet_duration', 'urg_packets', 'fin_packets', 'fin_flags', 'dst_rate', 'syn_flags', 'rst_flags']

In [10]:
#Cell 2c: match train‐features exactly
for col in test.select_dtypes(include=['int','float']).columns : 
    if (col not in selected_data_set) :
        df=df.drop(columns=col)
    
df.shape

(104287, 15)

In [11]:
#Cell 3: predict
y_pred = model.predict(df)

d:\DownLoad\projects\Multi_claasification_model\venv\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [12]:
#Cell 4: map back to original labels
label_map = {
    0: "BenignTraffic",
    1: "DDoS",
    2: "DoS",
    3: "MITM",
    4: "Mirai",
    5: "Recon",
}
y_named = [label_map[int(p)] for p in y_pred]

In [13]:
#Cell 5: build & save submission
submission = pd.DataFrame({
    "Id":     ids,
    "Target": y_named
})
submission.to_csv("submission.csv", index=False)
print(f"✅ submission.csv ready: {len(submission)} rows")

✅ submission.csv ready: 104287 rows

In [14]:
import pandas as pd

#Load the CSV with numeric targets
df = pd.read_csv("submission.csv")

#Define the mapping: integer → category name
label_map = {
    0: "BenignTraffic",
    1: "DDoS",
    2: "DoS",
    3: "MITM",
    4: "Mirai",
    5: "Recon",
}

#Replace the numeric codes with the string labels
df["Target"] = df["Target"].map(label_map)

#Save to a new CSV (or overwrite the old one)
df.to_csv("submission_named.csv", index=False)
print("✅ Written submission_named.csv with categorical Target column")

✅ Written submission_named.csv with categorical Target column